<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/World_Generator/">World Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Town_Generator">Town Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Shop_Generator">Shop Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Encounter_Generator">Encounter Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Character_Create/">Character Creator</a>
      </li>
    </ul>
  </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="/">DM TOOLS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSuppotedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Help/">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Forum/">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Homebrew/">Homebrew</a>
        </li>
        <li class="nav-item dropdown ">
        <!-- Example split danger button -->
        <div class="btn-group nav-link">
          <button type="button" class="btn btn-dark ">{{Username}}</button>
            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="logout/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!--<div class="tabbable">--> <!-- Only required for left/right tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" style="color:black"href="#DM" role="tab" data-toggle="tab">Campaigns I DM</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#player" style="color:black"role="tab" data-toggle="tab">Campaigns I Play In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#invitations" style="color:black"role="tab" data-toggle="tab">Invitations</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="DM">
    {% for camp in DmFor %}
      <a style="color:black" href="/Campaign/{{camp}}/">{{camp}}</a><br>
    {% endfor %} 
    <a style="color:black" href="/add_campaign/">DM a new Campaign</a>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="player">
	  {% for play in Player %}
			<a style="color:black"href="/Campaign/{{play}}/">{{play}}</a><br>
		{% endfor %}
    <a style="color:black" href="/join_campaign/">Join a Campaign</a>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="invitations">
	  {% for inv in Invites %}
			<p>{{inv}}
        <form action="/profile/{{Username}}/"method="post">
        {% csrf_token %}
        {{Form.Campaign.as_hidden}}
        {{Form.accept}}
        <input type="submit" value="Respond">
      </p>
		{% endfor %}
  
  </div>
</div>
















{% endblock %}
