<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% for x in Users %}
	{{x}}
{% endfor %}
<form action="/register/" method="post">
	{% csrf_token %}
	<!--{{form.Username}}
	{{form.Firstname}}
	{{form.Lastname}}
	{{form.Email}}
	{{form.Password}}
  {{form.Username}}<br>
  {{form.Firstname}}<br>
  {{form.Lastname}}<br>
  {{form.Email}}<br>
  {{form.Password1}}<br>
  {{form.Password2}}<br>-->
  {% for field in form%}
    <p>
      {{field.label_tag}} {{field}} {% for error in field.errors %}<a style="color:red;text-decoration:none">{{error}}</a>{% endfor%}<br>
    </p>
    {% endfor %}
	<input type="submit" value"Register">
{% endblock %}
